@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*
{
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0px;
}

html,body
{
  background-color:black;
}
ul
{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
li
{
  flex-grow: 1;
  flex-shrink: 1;
}
a
{
  text-decoration: none;
  color:palegoldenrod;
}

/* ---------------------------------------------canvas and tools for spacing and 3d ----------------------------------------*/

.webgl 
{
  position: absolute;
  top: 0;
  right: 0%;
  left: 0%;
  z-index: 1; 
  overflow-x: hidden;
}
/*------------------------------------------------------------content-------------------------------------------------*/

#homeHeading
{
  font-size: 70px;
  padding: 20px;
  color:white;
  font-family:'Lobster';
  position: absolute;
  z-index: 2;
  margin-top: 10px;
  text-align: left;
}

#contentDiv
{
  position: absolute;
  top:100%;
  z-index: 2;
  color:white;
}

#aboutDiv
{
  position: relative;
  z-index: 2;
}

#aboutParagraph
{
  text-align: center;
  font-size: 20px;
}

.headings
{
  font-size: 70px;
  padding: 20px;
  color:white;
  font-family:'Lobster';
  margin-top: 10px;
  text-align: center;
}

.paragraphs
{
  font-size: 16px;
  padding: 30px;
  color:white;
  font-family:'Space Mono';
  margin-top: 10px;
  text-align: left;
}

#experienceList
{
  margin-top: 30px;
}

.workconnectors
{
  min-width: 10px;
  max-width: 10px;
  min-height: 80px;
  max-height: 80px;
  background-color: purple;
  color: purple;
  margin-bottom: 20px;
  display: inline-block;
}
.experienceListItem
{
  margin-top: -20px;
  border: 1px solid purple;
  border-top-left-radius: 40px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 40px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;  
}
.heading
{
  font-family:'Open Sans', 'monospace', sans-serif;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  color:darkorchid;
}

/*-------------------------------------------------------------------------------------------------------------*/